appdirs==1.4.4
arrow==1.1.1
astroid==2.4.1
py-zabbix
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
black==21.6b0
blessings==1.7
bpython==0.21
certifi==2022.12.7
cfgv==3.3.0
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
curtsies==0.3.5
cwcwidth==0.1.4
distlib==0.3.2
dodgy==0.2.1
feedparser==6.0.8
filelock==3.0.12
flake8==3.8.4
flake8-polyfill==1.0.2
flake9==3.8.3.post2
Flask==2.0.1
future==0.18.2
greenlet==1.1.1
identify==2.2.10
idna==2.10
importlib-metadata==4.4.0
iniconfig==1.1.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
loguru==0.5.3
lxml==4.6.5
mando==0.6.4
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.902
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==20.9
pathspec==0.8.1
pep8-naming==0.10.0
platformdirs==2.2.0
pluggy==0.13.1
pre-commit==2.13.0
prospector==0.12.2
py==1.10.0
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
Pygments==2.9.0
pylint==2.5.3
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==2.1.0
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.2
python-pushover==0.4
pyupgrade==2.19.4
pyxdg==0.27
PyYAML==5.4.1
radon==4.5.2
regex==2021.4.4
requests==2.25.1
requirements-detector==0.7
rich==10.4.0
setoptconf==0.2.0
sgmllib3k==1.0.0
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
tokenize-rt==4.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.7.2
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
