{% extends "base.html" %}
{% block title %}Category: {{category}}{% endblock %}

{% if category == "car" %}
    {% if model %}
        {% block nav %}
            <div id="nav"><a href="/category/car">Back to All Cars</a></div>
        {% endblock %}
    {% endif %}
{% endif %}


{% block content %}

<h2>Classifieds in category - {{category}}</h2>
<table class="table">
    <tr>
        {% if category == "apartment"%}
        <td>Title</td>
        <td>Street</td>
        <td>Rooms</td>
        <td>Floor</td>
        <td>M2</td>
        <td>Published</td>
        <td>Price</td>
        {% elif category == "house" %}
        <td>Title</td>
        <td>Floors</td>
        <td>Rooms</td>
        <td>M2</td>
        <td>Land M2</td>
        <td>Published</td>
        <td>Price</td>
        {% elif category == "car" %}
        <td>Title</td>
        <td>Model</td>
        <td>Mileage</td>
        <td>Published</td>
        <td>Price</td>
        {% else %}
        <td>Title</td>
        <td>Price</td>
        {% endif %}
    </tr>

    {% if category == "car" %}
        {% if model %}
        <h3>Filtering by model: {{model}}</h3>
        {% endif %}
    {% endif %}

{% for classified in classifieds %}
    <tr>
        {% if category == "apartment"%}
        <td><a href="/category/{{category}}/{{classified.short_hash}}">{{classified.title}}</a></td>
        <td>{{classified.street}}</td>
        <td>{{classified.rooms}}</td>
        <td>{{classified.floor}}</td>
        <td>{{classified.m2}}</td>
        <td>{{classified.published.humanize()}}</td>
        <td>{{classified.price}}</td>
        {% elif category == "house"%}
        <td><a href="/category/{{category}}/{{classified.short_hash}}">{{classified.title}}</a></td>
        <td>{{classified.floors}}</td>
        <td>{{classified.rooms}}</td>
        <td>{{classified.m2}}</td>
        <td>{{classified.land_m2}}</td>
        <td>{{classified.published.humanize()}}</td>
        <td>{{classified.price}}</td>
        {% elif category == "car"%}
        <td><a href="/category/{{category}}/{{classified.short_hash}}">{{classified.title}}</a></td>
        <td><a href="/category/car/filter/{{classified.model|replace(' ','_') }}">{{classified.model}}</a></td>
        <td>{{classified.mileage}}</td>
        <td>{{classified.published.humanize()}}</td>
        <td>{{classified.price}}</td>
        {% else %}
        <td>{{classified.title}}</td>
        <td>{{classified.price}}</td>
        {% endif %}
    </tr>
{% endfor %}

</table>
{% endblock %}
