{% extends "base.html" %}
{% block title %}Category: {{category}}{% endblock %}
{% block content %}

<h2>Classifieds in category - {{category}}</h2>
<table>
    <tr>
        {% if category == "apartment"%}
        <td>Title</td>
        <td>Street</td>
        <td>Rooms</td>
        <td>Floor</td>
        <td>M2</td>
        <td>Price</td>
        {% else %}
        <td>Title</td>
        <td>Price</td>
        {% endif %}
    </tr>


{% for classified in classifieds %}
    <tr>
        {% if category == "apartment"%}
        <td><a href="/category/{{category}}/{{classified.short_hash}}">{{classified.title}}</a></td>
        <td>{{classified.street}}</td>
        <td>{{classified.rooms}}</td>
        <td>{{classified.floor}}</td>
        <td>{{classified.m2}}</td>
        <td>{{classified.price}}</td>
        {% else %}
        <td>{{classified.title}}</td>
        <td>{{classified.price}}</td>
        {% endif %}
    </tr>
{% endfor %}

</table>
{% endblock %}
