{% extends "base.html" %}
{% block title %}Classified view: Category: {{category}}{% endblock %}

{% block nav %}
{% if category == "car" %}
<div id="nav"><a href="/category/car">Back to All Cars</a></div>
{% elif category =="apartment"  %}
<div id="nav"><a href="/category/apartment">Back to All Apartments</a></div>
{% elif category =="house"  %}
<div id="nav"><a href="/category/house">Back to All Houses</a></div>
{% else %}
<div id="nav"><a href="/">Back to Index</a></div>
{% endif %}
{% endblock %}


{% block content %}

        {% if category == "apartment"%}
<p><b>Title</b>{{classified.title}}</p>
<p><b>Street</b> {{classified.street}} </p>
<p><b>Rooms</b> {{classified.rooms}}</p>

<p><b>Floor</b> {{classified.floor}} </p>
<p><b>M2</b> {{classified.m2}}</p>
<p><b> Price </b>{{classified.price}}</p>
<p><b> Published: </b>{{classified.published}}</p>
<p><b> Retrieved: </b>{{classified.retrieved}}</p>
<p><b> Last seen: </b>{{classified.last_seen}}</p>
<p><a href="{{classified.link}}" rel="noreferrer" >Link to SS.com ad</a></p>
{% elif category == "house"%}
<p><b>Title</b>{{classified.title}}</p>
<p><b>Location</b>...</p>
<p><b>Street</b> {{classified.street}} </p>
<p><b>Rooms</b> {{classified.rooms}}</p>
<p><b>Floors</b> {{classified.floors}} </p>
<p><b>M2</b> {{classified.m2}}</p>
<p><b>Land M2</b> {{classified.land_m2}}</p>
<p><b> Price </b>{{classified.price}}</p>
<p><b> Published: </b>{{classified.published}}</p>
<p><b> Retrieved: </b>{{classified.retrieved}}</p>
<p><b> Last seen: </b>{{classified.last_seen}}</p>
<p><a href="{{classified.link}}" rel="noreferrer" >Link to SS.com ad</a></p>
{% elif category == "car"%}

<div class="container">
  <div class="row">
    <div class="col">
        <p><b>Title</b>{{classified.title}}</p>
    </div>
  </div>
    <div class="row">
        <div class="col">
            <p><b>Description</b>{{classified.description}}</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <p><b>Model</b> {{classified.model}} </p>
        </div>
        <div class="col">

            <p><b>Year</b> {{classified.year}} </p>
        </div>
  </div>

    <div class="row">
        <div class="col">
            <p><b>Mileage</b> {{classified.mileage}}</p>
        </div>
        <div class="col">

            <p><b>Color</b> {{classified.color}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p><b>Engine</b> {{classified.engine}}</p>
        </div>
        <div class="col">

            <p><b>Gearbox</b> {{classified.gearbox}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p><b> Price </b>{{classified.price}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p><b> Published: </b>{{classified.published}}</p>
        </div>
        <div class="col">

            <p><b> Retrieved: </b>{{classified.retrieved}}</p>
            <p><b> Last seen: </b>{{classified.last_seen}}</p>
            <p><b> Enriched: </b>{{classified.enriched_time}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a href="{{classified.link}}" rel="noreferrer" >Link to SS.com ad</a></p>
        </div>
    </div>

</div>









        {% else %}
<p><b>Title</b>{{classified.title}}</p>
<p><b>       Price</b>
{{classified.price}}
        {% endif %}
{% endblock %}
