{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Stats</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Objects count: {{ stats.get_all_objects_files_count()}}</p>
        </div>
        <div class="col">
            <p>RSS files count: {{ stats.get_rss_files_count()}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <p> Enrichment: {{stats.get_enrichment_stats()[1]}} / {{stats.get_enrichment_stats()[0]}}

            </p>
        </div>
        <div class="col">
            Details retrieved:
            {{stats.get_http_data_stats()[1]}} / {{stats.get_http_data_stats()[0]}}
        </div>
    </div>
    <div class="row">
        <div class="col">

            <p>Last RSS update was {{ stats.get_last_rss_update().humanize() }} </p>
            <p>Last new object was added {{ stats.get_last_objects_update().humanize() }} </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">


            <P>The following categories are tracked:</P>
            <ul>
                {% for category in stats.data.categories %}
                {% if category == "apartment" %}
                <li><a href="/apartments">Apartments</a> ( {{stats.get_objects_files_count(category)}} )</li>
                {% elif category == "land" %}
                <li><a href="/static/land.html">Land</a> ( {{stats.get_objects_files_count(category)}} )</li>
                {% else %}
                <li><a href="/category/{{ category }}">{{category}}</a> ( {{stats.get_objects_files_count(category)}} )</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>





</div>



{% endblock %}
